/*--------- HEADER -------*/
header {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 10000000;
  /* backdrop-filter: blur(4px); */
  animation: stickyNav 0.5s linear forwards;
  animation-timeline: view();
  animation-range-start: 100vh;
  animation-range-end: 200vh;
}
nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 10000000;
}
.logo {
  width: 50px;
  background-image: url(../imgs/logo-corazon.webp);
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
  height: 50px;
}
.logo-link {
  flex: 1;
  display: inline-block;
}
.main-nav {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

/* NAV Sin fondo y 90 con fondo */
header {
  background-color: transparent;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}
header.scrolled {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(4px);
}

/* EXPLORE NOW */
.explore-now-container {
  background-color: rgb(197, 158, 134);
  padding: 0.7rem;
  display: inline-flex;
  align-items: center;
}
.nav-link.explore-now {
  color: rgb(255, 255, 255);
  margin: 0;
  font-size: 0.9rem;
}
.nav-link.explore-now:hover {
  color: rgb(255, 255, 255);
}
.fa-location-dot.explore-now-icon {
  color: rgb(255, 255, 255);
  margin-left: 10px;
  animation: iconAnimation 1s infinite;
}
@keyframes iconAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}
/* Estilo del enlace "Explore Now" cuando el header tiene la clase "scrolled" */
header.scrolled .explore-now-container {
  background-color: rgb(255, 255, 255);
}
header.scrolled .nav-link.explore-now {
  color: rgb(0, 0, 0);
}
header.scrolled .fa-location-dot.explore-now-icon {
  color: rgb(0, 0, 0);
}
.menu-on {
  width: max(600px, 50%);
}
.menu-on-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}
.menu-on-nav li a {
  font-size: 1.1rem;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "kamerit-3", sans-serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  position: relative;
}
/* Subrayado animado al pasar el cursor menos explore-now */
.menu-on-nav li a:not(.explore-now)::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}
/* Hover: Subrayado dorado y ligero zoom */
.menu-on-nav li a:hover {
  transform: scale(1.05);
}
.menu-on-nav li a:hover::after,
.menu-on-nav li a.active::after {
  width: 100%;
}
header.menu-open .menu-on-nav li a:hover {
  color: var(--a--hover);
  font-weight: 400;
}
.nav-bar {
  display: none;
}
.highlight {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  display: inline-block;
}
.nav-svg {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 960px) {
  .nav-svg {
    display: none;
  }
}
.fa-location-dot {
  width: 18px;
  height: auto;
  margin-left: 8px;
  display: inline-block;
}

/* FONDO */
.hero-section {
  position: relative;
  z-index: 0;
  padding-top: 150px;
}
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(60vh - 150px);
}
.hero-image {
  width: 100%;
  height: 60vh;
  background-image: url("../imgs/iglu.jpg");
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.hero-content {
  display: flex;
  height: 100%;
  align-items: flex-end;
  justify-content: center;
  padding-bottom: 1rem;
}
.phrase-hero {
  color: white;
  z-index: 1;
}
.phrase-hero h1 {
  font-family: "kamerik-8", sans-serif;
  text-align: center;
  font-size: 8rem;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-weight: 500;
}
.phrase-hero .outline {
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: white;
  color: transparent;
}
.row-icons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 50px;
}
.column-icons {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  width: 100px;
}
.hero-icon {
  width: 40px;
  height: auto;
}
/* Para asegurar que la imagen del fondo no se vea afectada por el nav */
.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Secci贸n de Frases Bienvenida */
.explore-section {
  width: 100%;
  height: 100%;
  padding: 4rem 9rem;
}
.explore-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.explore-left {
  width: 70%;
  text-align: left;
  padding-right: 2rem;
}
.explore-right {
  width: 60%;
  text-align: left;
  margin-left: auto;
}
.explore-left p,
.explore-right p {
  font-size: 2rem;
  line-height: 1.6;
  font-family: "Kamerik-8", sans-serif;
  font-weight: 400;
}

/* Secci贸n de Unique Experiences */
.unique-experiences-section {
  width: 100%;
  padding: 4rem 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.unique-experiences-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.unique-experiences-title {
  width: 100%;
  padding-bottom: 2rem;
}
.unique-experiences-title h2 {
  font-family: "Kamerik-8", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  position: relative;
  padding-bottom: 1rem;
  text-align: left;
}
.unique-experiences-title h2 u {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}
.unique-experiences-slider-container {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.unique-experiences-slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 100%;
}
.slide {
  flex: 1 0 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.experience-image {
  width: 80%;
  height: auto;
  object-fit: cover;
}
.slide p {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 0.5rem;
  font-family: "Kamerik-3", sans-serif;
}
.navigation {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}
.nav-btn {
  width: 10px;
  height: 10px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}
input[type="radio"] {
  display: none;
}
#slide1:checked ~ .unique-experiences-slider {
  transform: translateX(0%);
}
#slide2:checked ~ .unique-experiences-slider {
  transform: translateX(-50%);
}
#slide3:checked ~ .unique-experiences-slider {
  transform: translateX(-100%);
}
/* #slide4:checked ~ .unique-experiences-slider {
  transform: translateX(-75%);
} */

#slide1:checked ~ .navigation .nav-btn:nth-child(1),
#slide2:checked ~ .navigation .nav-btn:nth-child(2),
#slide3:checked ~ .navigation .nav-btn:nth-child(3),
#slide4:checked ~ .navigation .nav-btn:nth-child(4) {
  background-color: #333;
}
/* Ocultar el cuarto input y label por defecto */
.hidden-slide,
.hidden-label {
  display: none;
}

/* MUST VISIT */
.must-visit-section {
  width: 100%;
  height: auto;
}
.must-visit-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 4rem 9rem 8rem 9rem;
}
.must-visit-title {
  width: 100%;
  padding-bottom: 2rem;
}
.must-visit-title h2 {
  font-family: "Kamerik-8", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  position: relative;
  padding-bottom: 1rem;
  text-align: left;
}
.must-visit-title h2 u {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}
.must-visit-content {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
}
.must-visit-info {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 4rem;
  padding-right: 3rem;
}
.must-visit-image {
  width: 50%;
  height: auto;
}
.must-visit-image img {
  width: 50%;
  height: auto;
  object-fit: cover;
}
.must-visit-image img:nth-child(2) {
  margin-top: -25%;
  margin-left: 30%;
}
.must-visit-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.must-visit-text p {
  font-size: 1.2rem;
  line-height: 1.6;
}
.must-visit-buttons {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  gap: 1rem;
}
.must-visit-buttons-1 button:first-child {
  width: 50%;
  background-color: black;
  color: white;
  border: none;
  padding: 1rem 2rem;
  font-family: "Kamerik-8", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.must-visit-buttons-1 button:first-child:hover {
  background-color: #333;
}
.must-visit-buttons-2 {
  margin-left: 48%;
}
.must-visit-buttons-2 button:first-child {
  width: 100%;
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 1rem 2rem;
  font-family: "Kamerik-8", sans-serif;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.must-visit-buttons-2 button:first-child:hover {
  background-color: #00000031;
}

/* Secci贸n con imagen de fondo y textos superpuestos */
.background-image-section {
  position: relative;
  width: 100%;
  height: 70vh;
  background-image: url("../imgs/vancouver1920x800.webp");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.background-image-container {
  position: relative;
  width: 100%;
  height: 100%;
}
.background-image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}
.background-image-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: white;
  z-index: 2;
  padding: 2rem;
  text-align: center;
}
.background-image-content h2 {
  font-family: "Kamerik-3", sans-serif;
  font-size: 2rem;
  margin: 0;
}
.background-image-content h2:nth-child(1) {
  padding-top: 2rem;
}
.background-image-content h2:nth-child(2) {
  padding-bottom: 2rem;
}

/* Secci贸n Canada Through the Lens */
.canada-lens-section {
  width: 100%;
  height: 100%;
}
.canada-lens-container {
  display: flex;
  flex-direction: column;
}
.canada-lens-title {
  width: 100%;
  height: auto;
  padding: 4rem 9rem;
}
.canada-lens-title h2 {
  font-family: "Kamerik-8", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  position: relative;
  padding-bottom: 1rem;
  text-align: left;
}
.canada-lens-title h2 u {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 5px;
}
.canada-lens-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  padding-bottom: 4rem;
}
.canada-lens-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.canada-lens-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.canada-lens-item.horizontal {
  grid-column: span 2;
}
.estadio-image {
  object-position: center;
}

/* Media query */
@media screen and (max-width: 1400px) {
  .welcome-section {
    padding: 6rem 4rem 4rem 4rem;
  }
  /* slider experiencies */
  .slide p {
    font-size: 1rem;
  }
  .must-visit-image img {
    width: 60%;
  }
}
@media screen and (max-width: 1200px) {
  .logo-link {
    max-width: 40%;
  }
  .hero-content {
    align-items: center;
    padding-bottom: 100px;
  }
  .phrase-hero h1 {
    font-size: 6rem;
  }
  /* Introduccion */
  .explore-container {
    gap: 2rem;
  }
  .explore-left p,
  .explore-right p {
    font-size: 1.5rem;
  }
  /* Slider Experiencias */
  .unique-experiences-section {
    width: 100%;
    padding: 4rem 4rem;
  }
  /* MUST VISIT */
  .must-visit-container {
    padding: 4rem 4rem 8rem 4rem;
  }
  .must-visit-image img {
    width: 60%;
  }
  .must-visit-info {
    padding-top: 2rem;
    padding-right: 1rem;
  }
  .must-visit-text p {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 960px) {
  .phrase-hero h1 {
    font-size: 5rem;
  }
  .welcome-content {
    flex-direction: column;
  }
  .welcome-title {
    font-size: 2rem;
  }
  .welcome-text {
    font-size: 1rem;
  }
  /* Introduccion */
  .explore-section {
    padding: 4rem 4rem;
  }
  .unique-experiences-title h2 {
    font-size: 2rem;
  }
  /* SLIDER EXPERIENCES */
  .unique-experiences-slider {
    width: 200%;
  }
  .slide {
    flex: 1 0 100%;
  }
  #slide1:checked ~ .unique-experiences-slider {
    transform: translateX(0%);
  }
  #slide2:checked ~ .unique-experiences-slider {
    transform: translateX(-100%);
  }
  #slide3:checked ~ .unique-experiences-slider {
    transform: translateX(-200%);
  }
  #slide4:checked ~ .unique-experiences-slider {
    transform: translateX(-300%);
  }
  .hidden-slide,
  .hidden-label {
    display: block;
  }
  .slide p {
    margin-bottom: 1.5rem;
  }
  /* MUST VISIT */
  .must-visit-title h2 {
    font-size: 2rem;
  }
  .must-visit-content {
    flex-direction: column;
  }
  .must-visit-info {
    width: 100%;
    padding-top: 0;
    padding-right: 0;
  }
  .must-visit-buttons-2 {
    margin-left: 50%;
  }
  .must-visit-image {
    width: 100%;
    padding-top: 3rem;
  }
  .must-visit-image img:nth-child(2) {
    margin-left: 40%;
  }
  .routes {
    margin-top: 6rem;
  }
  .canada-lens-title {
    padding: 4rem 4rem;
  }
}
@media screen and (max-width: 650px) {
  .phrase-hero h1 {
    font-size: 4rem;
  }
  .full-width-content h2 {
    font-size: 2rem;
  }
  .welcome-container {
    flex-direction: column;
    gap: 1rem;
  }
  .welcome-title {
    width: 100%;
    max-width: 100%;
  }
  .welcome-content {
    width: 100%;
  }
  /* Slider Experiencias */
  .unique-experiences-section {
    padding: 2rem 2rem;
  }
  .unique-experiences-title h2 {
    font-size: 1.8rem;
  }
  .routes {
    margin-top: 2rem;
  }
  .first,
  .second,
  .third {
    margin-bottom: 2rem;
  }
  /* Canada Through the Lens */
  .canada-lens-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

  .canada-lens-item.horizontal {
    grid-column: span 2;
  }

  .canada-lens-image {
    height: 200px;
  }
  .canada-lens-item:nth-child(1),
  .canada-lens-item:nth-child(6),
  .canada-lens-item:nth-child(10) {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .phrase-hero h1 {
    font-size: 4rem;
    font-weight: 400;
  }
  .welcome-section {
    padding: 4rem 2rem;
  }
  /* Introduccion */
  .explore-section {
    padding: 4rem 2rem 2rem 2rem;
  }
  .explore-left p,
  .explore-right p {
    font-size: 1.3rem;
  }
  .explore-left {
    width: 90%;
  }
  .explore-right {
    width: 80%;
  }
  .must-visit-container {
    padding: 2rem 2rem 4rem 2rem;
  }
  .background-image-content h2 {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 450px) {
  .phrase-hero h1 {
    font-size: 3rem;
  }
}
