/*--------- HEADER -------*/
header {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 99;
  /* backdrop-filter: blur(4px); */
  animation: stickyNav 0.5s linear forwards;
  animation-timeline: view();
  animation-range-start: 100vh;
  animation-range-end: 200vh;
}
nav {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  z-index: 10;
}

.logo {
  width: 50px;
  background-image: url(../imgs/logo-corazon.webp);
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
  height: 50px;
}
.logo-link {
  flex: 1;
  display: inline-block;
}

.main-nav {
  flex: 1;
  display: flex;
  justify-content: flex-start;
}

/* NAV Sin fondo y 90 con fondo */
header {
  background-color: transparent;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
}

header.scrolled {
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(4px);
}

/* EXPLORE NOW */
.explore-now-container {
  background-color: rgb(54, 239, 220);
  padding: 0.7rem;
  display: inline-flex;
  align-items: center;
}
.nav-link.explore-now {
  color: rgb(5, 67, 127);
  margin: 0;
  font-size: 0.9rem;
}
.nav-link.explore-now:hover {
  color: rgb(5, 67, 127);
}
.fa-location-dot.explore-now-icon {
  color: rgb(5, 67, 127);
  margin-left: 10px;
  animation: iconAnimation 1s infinite;
}
@keyframes iconAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}
/* Estilo del enlace "Explore Now" cuando el header tiene la clase "scrolled" */
header.scrolled .explore-now-container {
  background-color: rgb(255, 255, 255);
}
header.scrolled .nav-link.explore-now {
  color: rgb(0, 0, 0);
}
header.scrolled .fa-location-dot.explore-now-icon {
  color: rgb(0, 0, 0);
}

.menu-on {
  width: max(600px, 50%);
}

.menu-on-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.menu-on-nav li a {
  font-size: 1.1rem;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "kamerit-3", sans-serif;
  font-weight: 400;
  letter-spacing: 0.1rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  position: relative;
}

/* Subrayado animado al pasar el cursor menos explore-now */
.menu-on-nav li a:not(.explore-now)::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: white;
  transition: width 0.3s ease;
}

/* Hover: Subrayado dorado y ligero zoom */
.menu-on-nav li a:hover {
  transform: scale(1.05);
}

.menu-on-nav li a:hover::after,
.menu-on-nav li a.active::after {
  width: 100%;
}

/* Menú abierto: Mantener color dorado
header.menu-open .menu-on-nav li a {
  color: var(--champagne);
} */

header.menu-open .menu-on-nav li a:hover {
  color: var(--a--hover);
  font-weight: 400;
}

.nav-bar {
  display: none;
}

.highlight {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  display: inline-block;
}

.nav-svg {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 960px) {
  .nav-svg {
    display: none;
  }
}

.fa-location-dot {
  width: 18px;
  height: auto;
  margin-left: 8px;
  display: inline-block;
}

/* FONDO */
.hero-section {
  position: relative;
  z-index: 0;
  padding-top: 150px;
}
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(100vh - 150px);
}
.hero-image {
  width: 100%;
  height: 100vh;
  background-image: url("../imgs/hero1920x1440.jpg");
  background-size: cover;
  background-position: 50% 30%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.phrase-hero {
  color: white;
  z-index: 1;
}
.phrase-hero h1 {
  font-family: "kamerik-8", sans-serif;
  text-align: center;
  font-size: 8rem;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-weight: 600;
}
.phrase-hero .outline {
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: white;
  color: transparent;
}

.row-icons {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 50px;
}
.column-icons {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
  width: 100px;
}
.hero-icon {
  width: 40px;
  height: auto;
}

/* Para asegurar que la imagen del fondo no se vea afectada por el nav */
.hero-section::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ------------SECCION DE BIENVENIDA-------------------- */
.welcome-section {
  width: 100%;
  height: auto;
  padding: 8rem 9rem 4rem 9rem;
}
.welcome-content {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 2rem;
}
.text-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  flex: 1;
  gap: 2rem;
}
.welcome-image-content {
  width: 50%;
  height: 100%;
}
.text-content h2 {
  font-weight: 400;
  font-size: 2rem;
  padding-bottom: 2rem;
  font-family: kamerik-8, sans-serif;
  width: 80%;
}
.text-content h2 + p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  width: 90%;
}
.highlight-box h3 + p {
  font-size: 1rem;
  margin-top: 10px;
}
.highlights {
  display: flex;
  justify-content: space-between;
}
.highlight-box {
  width: 48%;
  text-align: left;
  display: flex;
  flex-direction: column;
}
.highlight-icon {
  width: 50px;
  height: 50px;
  margin-bottom: 1rem;
}
.welcome-image {
  width: 100%;
  height: auto;
}

/* -------------- HISTORY------------------- */
.history-section {
  width: 100%;
  height: auto;
  padding: 4rem 9rem;
}
.history-container {
  display: flex;
  flex-direction: column;
}
.history-title h2 {
  font-family: "Kamerik-8", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  text-align: left;
  position: relative;
  padding-bottom: 1rem;
}
.history-title h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: black;
}
.history-slider {
  display: flex;
  padding-top: 4rem;
  gap: 2rem;
}
.slide {
  flex: 1 1 700px;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.slide-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 700px;
  width: 100%;
  background-color: rgb(151, 150, 150);
}
.text-content-slide {
  width: 40%;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 2rem;
}
.text-content-slide h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
.text-content-slide h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.text-content-slide p {
  font-size: 1rem;
  margin-bottom: 2rem;
}
.timeline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 2px;
  background-color: black;
  position: relative;
}
.timeline span {
  position: absolute;
  top: -1.5rem;
  font-size: 0.8rem;
}
.timeline span:nth-child(1) {
  left: 0;
}
.timeline span:nth-child(2) {
  left: 20%;
}
.timeline span:nth-child(3) {
  left: 40%;
}
.timeline span:nth-child(4) {
  left: 60%;
}
.timeline span:nth-child(5) {
  left: 80%;
}
.timeline span:nth-child(6) {
  left: 99%;
}

.image-content {
  width: 60%;
}
.history-image {
  width: 100%;
  height: auto;
}

/* Sección de Natural Wonders */
.natural-section {
  width: 100%;
  height: 100%;
  padding: 4rem 9rem;
}

.natural-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.natural-title h2 {
  font-family: "Kamerik-8", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  position: relative;
  padding-bottom: 1rem;
  text-align: left;
}

.natural-title h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: black;
}

.natural-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100%;
  padding-top: 4rem;
}

.natural-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.natural-item p {
  padding: 1rem;
  font-size: 1.8rem;
  font-weight: 400;
  text-align: center;
  font-family: "Kamerik-8", sans-serif;
}

.natural-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.arrow {
  height: 15px;
  width: 15px;
  display: block;
  transform: rotate(45deg);
  background-color: white;
  position: absolute;
  left: 50%;
  bottom: -7px;
  z-index: 99999;
}

.natural-item {
  position: relative;
}

.natural-item img + .arrow {
  top: 50%;
  left: 100%;
  transform: translateX(-50%) rotate(45deg);
}

.natural-item.arrow-left img + .arrow {
  left: 0%;
}

/* Oso Seccion */
.oso-section {
  position: relative;
  width: 100%;
  height: 70vh;
  padding: 4rem 0;
}
.oso-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}
.oso-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
.oso-background {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.oso-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-image: url("../imgs/oso1920x800.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

.oso-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: white;
  text-align: left;
}
.oso-content h2 {
  padding-top: 2rem;
  text-align: center;
  font-weight: 300;
  font-size: 2.5rem;
  font-family: "Kamerik-8", sans-serif;
}
.oso-text {
  height: 100%;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 4rem;
  gap: 2rem;
}
.oso-text p {
  font-size: 1.2rem;
  line-height: 1.6;
}

/* CANADA TODAY */
.canada-today-section {
  width: 100%;
  height: 100%;
  padding: 4rem 9rem;
}

.canada-today-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.canada-today-image {
  flex: 1 1 50%;
  max-width: 50%;
}

.canada-today-background {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.canada-today-content {
  flex: 1 1 50%;
  max-width: 50%;
  height: 100%;
  padding: 2rem 0 2rem 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.canada-today-title h2 {
  font-family: "Kamerik-8", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  position: relative;
  padding-bottom: 1rem;
}

.canada-today-title h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: black;
}

.canada-today-content h3 {
  font-family: "Kamerik-3", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.canada-today-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-top: 5rem;
}

.canada-today-text p {
  text-align: right;
  padding-bottom: 1rem;
  font-size: 1.2rem;
  line-height: 1.6;
}

/* Sección Canada Through the Lens */
.canada-lens-section {
  width: 100%;
  height: 100%;
}

.canada-lens-container {
  display: flex;
  flex-direction: column;
}

.canada-lens-title {
  width: 100%;
  height: auto;
  padding: 4rem 9rem;
}

.canada-lens-title h2 {
  font-family: "Kamerik-8", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  position: relative;
  padding-bottom: 1rem;
  text-align: left;
}

.canada-lens-title h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: black;
}

.canada-lens-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
  padding-bottom: 4rem;
}
.canada-lens-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.canada-lens-image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
.canada-lens-item.horizontal {
  grid-column: span 2;
}

/* Sección de Monuments */
.monuments-section {
  width: 100%;
  height: 100%;
  padding: 4rem 9rem;
}

.monuments-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.monuments-title {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.monuments-title h4 {
  font-family: "Kamerik-3", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.monuments-title h2 {
  font-family: "Kamerik-8", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.monuments-title p {
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 70%;
  padding-bottom: 4rem;
}
.monuments-grid {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  width: 100%;
}
.monument-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.monument-image {
  width: 100%;
  height: 300px;
  margin-bottom: 1rem;
  object-fit: cover;
}
.monument-item h3 {
  font-family: "Kamerik-8", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.monument-item h4 {
  font-family: "Kamerik-3", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
.monument-item p {
  font-size: 1rem;
  line-height: 1.6;
}
.monuments-buttons {
  display: flex;
  gap: 2rem;
  margin-top: 4rem;
}
.btn {
  padding: 1rem 2rem;
  font-size: 1rem;
  font-family: "Kamerik-8", sans-serif;
  cursor: pointer;
  border: 2px solid #333;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.btn.see-more {
  background-color: white;
  color: #333;
}

.btn.see-more:hover {
  background-color: #f0f0f0;
}

.btn.visit-now {
  background-color: #333;
  color: white;
}

.btn.visit-now:hover {
  background-color: #555;
}

/* Sección A Taste of Canada */
.taste-section {
  width: 100%;
  height: 100%;
  padding: 4rem 9rem;
}
.taste-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.taste-title {
  width: 100%;
  height: auto;
  padding-bottom: 2rem;
}
.taste-title h2 {
  font-family: "Kamerik-8", sans-serif;
  font-weight: 400;
  font-size: 2.5rem;
  position: relative;
  padding-bottom: 1rem;
  text-align: left;
}
.taste-title h2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: black;
}
.taste-text {
  width: 100%;
  padding-bottom: 4rem;
}
.taste-container p {
  width: 100%;
  min-width: 100%;
  font-size: 1.2rem;
  line-height: 1.6;
}
.taste-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.taste-image {
  flex: 1 1 calc(33.333% - 1rem);
  height: 300px;
  object-fit: cover;
}

/* Media query */
@media screen and (max-width: 1400px) {
  .welcome-section {
    padding: 6rem 4rem 4rem 4rem;
  }
  .history-section {
    padding: 4rem 4rem;
  }
  .natural-section {
    padding: 4rem;
  }
  .monuments-section {
    padding: 4rem;
  }
  .taste-section {
    padding: 4rem;
  }
  .footer-section {
    padding: 4rem;
  }
  .canada-lens-title {
    padding: 4rem;
  }
  .canada-today-section {
    padding: 4rem;
  }
}
@media screen and (max-width: 1200px) {
  .logo-link {
    max-width: 40%;
  }
  .phrase-hero h1 {
    font-size: 6rem;
  }
  .text-content h2 {
    font-size: 1.5rem;
  }
  .text-content h2 + p {
    font-size: 1rem;
  }
  .canada-today-section {
    padding: 4rem;
  }
  .history-title h2 {
    font-size: 2rem;
  }
  .natural-title h2 {
    font-size: 2rem;
  }
  .natural-item p {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 960px) {
  .welcome-content {
    flex-direction: column;
  }
  .text-content {
    width: 100%;
  }
  .welcome-image-content {
    width: 100%;
  }
  .oso-text p {
    font-size: 1rem;
  }
  .oso-content h2 {
    font-size: 1.8rem;
  }
  .oso-text p:nth-of-type(2) {
    display: none;
  }
  .natural-grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .natural-item:nth-child(3) {
    order: 4;
  }
  .natural-item:nth-child(4) {
    order: 3;
  }
  .natural-item:nth-child(5) {
    order: 6;
  }
  .natural-item:nth-child(6) {
    order: 5;
  }
  .natural-item:nth-child(7) {
    order: 7;
  }
  .natural-item:nth-child(8) {
    order: 8;
  }

  .canada-today-container {
    flex-direction: column-reverse;
  }
  .canada-today-image {
    flex: 1;
    max-width: none;
  }
  .canada-today-content {
    flex: 1;
    max-width: none;
    align-items: flex-start;
    padding: 0;
  }
  .canada-today-text {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .canada-today-text p {
    text-align: left;
  }
  .monuments-grid {
    flex-direction: column;
  }
}
@media screen and (max-width: 600px) {
  .phrase-hero h1 {
    font-size: 4rem;
    font-weight: 400;
  }
  .text-content h2 {
    padding-bottom: 0;
  }
  .monuments-title p {
    max-width: 90%;
  }
}
@media screen and (max-width: 450px) {
}
